<html>
    <head>
        <title>title</title>
    </head>
    <body>
        <div id="header" style="border-bottom: 1px solid blue; padding: 8px;">
            <h1>SfCensus</h1>
            
            <form action="/prac/web/app_dev.php/town/find-town" method="get">
                <input type="search" name="q" />
                <button type="submit">SEARCH</button>
            </form>
        </div>
        
        <div id="content">
            <h2>{{town.name}}, {{town.province}}</h2>
            <hr />
            
            The proud town of Mayor {{town.mayor.firstName}} {{town.mayor.lastName}}
            
            <ul>
                <li><a href="/prac/web/app_dev.php/town/evacuate/{{town.id}}">Evacuate Women & Children</a></li>
                <li><a href="/prac/web/app_dev.php/town/list-seniors/{{town.id}}">List Seniors</a></li>
                <li><a href="/prac/web/app_dev.php/town/list-pwds/{{town.id}}" title="People w/ Disabilities">
                        List PWDs
                </a></li>
            </ul>
        </div>
    </body>
</html>
